<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plm.platform.batch.mapper.ProductInfoMapper">
    <select id="findProductDetail" resultType="java.util.Map">
        select i.*, d.descript, r.region_name placeOfOrigin
        from t_product_info i join t_product_descript d on i.product_info_id = d.product_info_id
        join t_region r on r.region_code = i.region_code order by i.product_info_id desc limit #{start},#{pageSize}
    </select>

    <select id="findProductDetailByPage" resultType="java.util.Map">
        select i.*, d.descript, r.region_name
        from t_product_info i, t_product_descript d, t_region r where i.product_info_id = d.product_info_id
        and r.region_code = i.region_code order by i.product_info_id desc
    </select>

    <!--
    分组归并的情况最为复杂，它分为流式分组归并和内存分组归并。
    流式分组归并要求SQL的排序项与分组项的字段必须保持一致，否则只能通过
    内存归并才能保证其数据的正确性。
    SELECT name, SUM(score) FROM t_score GROUP BY name ORDER BY name;
    -->
    <select id="findProductGroupList" resultType="java.util.Map">
        select region_code, count(1) as num from t_product_info group by region_code having num>1 ORDER BY
        region_code ASC
    </select>
</mapper>
